<div style="padding: 24px">
  <form nz-form [formGroup]="form" (ngSubmit)="applyFilter()">
    <nz-form-item>
      <nz-form-label>Name</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="filterName" type="text">
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Status</nz-form-label>
      <nz-form-control>
        <nz-checkbox-group formControlName="filterStatus" [ngModel]="statuses"></nz-checkbox-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Approval Date</nz-form-label>
      <nz-form-control>
        <div nz-row nzType="flex" nzGutter="24">
          <div nz-col nzSpan="12">
            <nz-date-picker formControlName="filterApprovalDateFrom" nzPlaceHolder="From"></nz-date-picker>
          </div>
          <div nz-col nzSpan="12">
            <nz-date-picker formControlName="filterApprovalDateTo" nzPlaceHolder="To"></nz-date-picker>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Tax Payers</nz-form-label>
      <nz-form-control>
        <nz-checkbox-group formControlName="filterTaxPayers" [ngModel]="taxPayers"></nz-checkbox-group>
      </nz-form-control>
    </nz-form-item>

    <div nz-row nzType="flex" nzJustify="end">
      <div nz-col nzOrder="2">
        <button nz-button nzType="primary" type="submit">Apply</button>
      </div>
      <div nz-col nzOrder="1" style="margin-right: 12px" >
        <button nz-button nzType="default" (click)="clearFilter()">Clear</button>
      </div>
    </div>
  </form>
</div>
