<nz-modal [(nzVisible)]="isVisible" nzClassName="tax-module-properties-modal" nzTitle="Create Tax Module" (nzOnCancel)="closeModal(false)" (nzOnOk)="closeModal(true)">
  <nz-tabset>
    <nz-tab nzTitle="Properties">
      <form nz-form [formGroup]='propertiesForm'>
        <div nz-row nzType="flex" nzGutter="24">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Code</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="code">
                <nz-form-explain *ngIf="code.dirty && code.errors">Please input the code!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" nzGutter="24">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzRequired>Name</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="name">
                <nz-form-explain *ngIf="name.dirty && name.errors">Please input the name!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Declaration Mode</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="declarationMode" nzShowSearch nzRequired>
                  <nz-option *ngFor="let mode of dModes" [nzLabel]="mode.label" [nzValue]="mode.value"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="declarationMode.dirty && declarationMode.errors">Please select a declaration mode!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>Tax Payers</nz-form-label>
              <nz-form-control>
                <nz-radio-group formControlName="taxPayers">
                  <label *ngFor="let payer of taxPayers" nz-radio [nzValue]="payer.value">{{payer.label}}</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-tab>
    <nz-tab nzTitle="Tax Authority">
      <form nz-col nzSpan="24" [formGroup]="taxAuthorityForm">
        <div nz-row nzType="flex" nzGutter="24">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>Code</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="code">
                <nz-form-explain *ngIf="authority_code.dirty && authority_code.errors">Please input the code!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>Name</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="name">
                <nz-form-explain *ngIf="authority_name.dirty && authority_name.errors">Please input the name!</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <form formArrayName="address">
          <nz-form-item>
            <nz-form-label>Address</nz-form-label>
            <nz-form-control *ngFor="let address of addresses; let i=index;">
              <input nz-input [formControlName]="i">
            </nz-form-control>
          </nz-form-item>
        </form>
      </form>
    </nz-tab>
  </nz-tabset>
</nz-modal>
