<div *ngIf="taxModule" class="details-header">
  <div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
    <div nz-col>
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle" nzGutter='12'>
        <div nz-col class="details-header-title">
          <strong i18b>Tax Module </strong><span>{{taxModule.code}}</span>
        </div>
        <div nz-col class="operation-btns">
          <button nz-button (click)="editingStatus.adding = true"><i nz-icon type="plus"></i></button>
          <button nz-button nz-popconfirm nzTitle="Remove this tax module?" (nzOnConfirm)="removeTaxModule()" nzPlacement="bottom"><i nz-icon type="delete"></i></button>
          <nz-dropdown [nzTrigger]="'click'">
            <button nz-button nz-dropdown><i nz-icon type="ellipsis"></i></button>
            <ul nz-menu>
              <!--li nz-menu-item>
                <a (click)="exportList()" i18n>Export List</a>
              </li-->
            </ul>
          </nz-dropdown>
        </div>
        <div nz-col>
          <form (ngSubmit)="lookUp()">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input name="code" style="min-width: 270px" nz-input placeholder="Code" [(ngModel)]="code">
              <button type="submit" style="display: none;"></button>
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon type="search"></i>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
    <div nz-col>
      <a nz-button [routerLink]="['/taxes/modules']" i18n>Back to List</a>
    </div>
  </div>

  <div nz-row nzType="flex" style="padding: 24px 0" nzGutter="24">
    <div nz-col nzSpan="24" nzMd="12">
      <div style="margin-bottom: 24px">
        <nz-card nzTitle="Properties" [nzExtra]="editProperties">
          <form nz-form class="edit-properties-form">
            <div nz-row>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Code</nz-form-label>
                  <div class="form-display-data">{{taxModule.code}}</div>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Name</nz-form-label>
                  <div class="form-display-data">{{taxModule.name || '-'}}</div>
                </nz-form-item>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Declaration Mode</nz-form-label>
                  <div class="form-display-data">{{taxModule.declarationMode | declarationMode}}</div>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Tax Payers</nz-form-label>
                  <div class="form-display-data">{{taxModule.taxPayers | taxPayer}}</div>
                </nz-form-item>
              </div>
            </div>

            <nz-form-item>
              <nz-form-label>Tax Authority</nz-form-label>
              <div class="form-display-data">{{taxModule.taxAuthority.code}}</div>
              <div class="form-display-data">{{taxModule.taxAuthority.name}}</div>
              <div class="form-display-data" *ngFor="let address of taxModule.taxAuthority.address">{{address}}</div>
            </nz-form-item>
          </form>
        </nz-card>
        <ng-template #editProperties>
          <button nz-button (click)="showModal('properties')"><i nz-icon type="edit"></i></button>
        </ng-template>
      </div>
      <div style="margin-bottom: 24px">
        <nz-card nzTitle="Specification" [nzExtra]="editSpecification">
          <ng-container *ngIf="!taxModule.specification">
            No Data
          </ng-container>
          <ng-container *ngIf="taxModule.specification">
            {{taxModule.specification}}
          </ng-container>
        </nz-card>
        <ng-template #editSpecification>
          <button nz-button (click)="showModal('specification')"><i nz-icon type="edit"></i></button>
        </ng-template>
      </div>
    </div>

    <div nz-col nzSpan="24" nzMd="12">
      <div style="margin-bottom: 24px">
        <nz-card nzTitle="Status" [nzExtra]="editStatus">
          <form nz-form class="edit-properties-form">
            <div nz-row nzType="flex" nzGutter="12">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Status</nz-form-label>
                  <div class="form-display-data">
                    <nz-tag [nzColor]="taxModule.status | color">{{taxModule.status | status}}</nz-tag>
                  </div>
                </nz-form-item>
              </div>

              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Approval Date</nz-form-label>
                  <div class="form-display-data">{{taxModule.approvalDate | customDate}}</div>
                </nz-form-item>
              </div>
            </div>

            <div>
              <nz-form-item>
                <button *ngIf="taxModule.status === 'DRAFT'"    nz-button (click)="showModal('approve')">Approve</button>
                <button *ngIf="taxModule.status === 'ACTIVE'"   nz-button (click)="deactivateTaxModule()">Deactivate</button>
                <button *ngIf="taxModule.status === 'INACTIVE'" nz-button (click)="reactivateTaxModule()">Reactivate</button>
              </nz-form-item>
            </div>
          </form>
        </nz-card>
        <ng-template #editStatus>
          <ng-container *ngIf="taxModule.status === 'ACTIVE'">
            <button nz-button (click)="showModal('aprDate')"><i nz-icon type="edit"></i></button>
          </ng-container>
          <ng-container *ngIf="taxModule.status === 'INACTIVE'">
            <button nz-button (click)="showModal('aprDate')"><i nz-icon type="edit"></i></button>
          </ng-container>
        </ng-template>
      </div>
      <div style="margin-bottom: 24px">
        <nz-card nzTitle="Assessment Template" [nzExtra]="assTemp">
          <ng-container *ngIf="!taxModule.assessmentTemplate">
            No Data
          </ng-container>
          <form *ngIf="taxModule.assessmentTemplate" nz-form class="edit-properties-form">
            <div nz-row nzType="flex" nzGutter="24">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Timestamp</nz-form-label>
                  <div class="form-display-data">{{taxModule.assessmentTemplate.timestamp | customDate}}</div>
                </nz-form-item>
              </div>

              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Size</nz-form-label>
                  <div class="form-display-data">{{taxModule.assessmentTemplate.size | fileSize}}</div>
                </nz-form-item>
              </div>
            </div>
          </form>

          <ng-template #assTemp>
            <ng-container *ngIf="!taxModule.assessmentTemplate">
              <button nz-button (click)="uploadAssessmentTemplate()"><i nz-icon type="upload"></i></button>
              <input type="file" #file (change)="onFileSelect($event.target)" name="Upload assessment template" style="display: none">
            </ng-container>
            <ng-container *ngIf="taxModule.assessmentTemplate">
              <button style="margin-right: 12px" nz-button (click)="downloadAssessmentTemplate()"><i nz-icon type="download"></i></button>
              <button nz-button (click)="removeAssessmentTemplate()"  nzType="primary"><i nz-icon type="delete"></i></button>
            </ng-container>
          </ng-template>
        </nz-card>
      </div>
      <div style="margin-bottom: 24px" *ngIf="taxModule.declarationMode == 'REQUEST_DECLARATION' || taxModule.declarationMode == 'PROPOSE_DECLARATION'">
        <nz-card nzTitle="Declaration Template" [nzExtra]="dclTemp">
          <ng-container *ngIf="!taxModule.declarationTemplate">
            No Data
          </ng-container>
          <form *ngIf="taxModule.declarationTemplate" nz-form class="edit-properties-form">
            <div nz-row nzType="flex" nzGutter="24">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Timestamp</nz-form-label>
                  <div class="form-display-data">{{taxModule.declarationTemplate.timestamp | customDate}}</div>
                </nz-form-item>
              </div>

              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>Size</nz-form-label>
                  <div class="form-display-data">{{taxModule.declarationTemplate.size | fileSize}}</div>
                </nz-form-item>
              </div>
            </div>
          </form>
        </nz-card>
        <ng-template #dclTemp>
          <ng-container *ngIf="!taxModule.declarationTemplate">
            <button nz-button (click)="uploadDeclarationTemplate()"><i nz-icon type="upload"></i></button>
            <input type="file" #file_dt (change)="onFileDTSelect($event.target)" name="Upload declaration template" style="display: none">
          </ng-container>
          <ng-container *ngIf="taxModule.declarationTemplate">
            <button style="margin-right: 12px" nz-button (click)="downloadDeclarationTemplate()"><i nz-icon type="download"></i></button>
            <button nz-button (click)="removeDeclarationTemplate()" nzType="primary"><i nz-icon type="delete"></i></button>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>

  <app-create-tax-module
    [visible]="editingStatus.adding"
    (cancel)="editingStatus.adding = false"
    (confirm)="createTaxModule($event)">
  </app-create-tax-module>

  <app-properties-modal
    [taxModule]="taxModule"
    [visible]="editingStatus.properties"
    (cancel)="editingStatus.properties = false"
    (confirm)="updateProperties($event)">
  </app-properties-modal>

  <app-approval-date
    [visible]="editingStatus.approve"
    (cancel)="editingStatus.approve = false"
    (confirm)="approveTaxModule($event)">
  </app-approval-date>

  <app-approval-date
    [approvalDate]="taxModule.approvalDate"
    [visible]="editingStatus.aprDate"
    (cancel)="editingStatus.aprDate = false"
    (confirm)="updateApprovalDate($event)">
  </app-approval-date>

  <app-specification
    [specification]="taxModule.specification"
    [visible]="editingStatus.specification"
    (cancel)="editingStatus.specification = false"
    (confirm)="updateSpecification($event)">
  </app-specification>

</div>
