<div *ngIf="person" class="details-header">

  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle" nzGutter='12'>
    <div nz-col class="details-header-title">
      <strong>Natural Person </strong><span>#{{person.id}}</span>
    </div>
    <div nz-col class="operation-btns">
      <button nz-button nzType="default" (click)="addingPerson = true"><i nz-icon type="plus"></i></button>
      <button nz-button nzType="default" nz-popconfirm nzTitle="Are you sure?" (nzOnConfirm)="removePerson()" nzPlacement="bottom"><i nz-icon type="delete"></i></button>
      <button nz-button nzType="default"><i nz-icon type="ellipsis"></i></button>
    </div>
    <div nz-col>
      <form (ngSubmit)="lookUp()">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input name="registrationNumber" style="min-width: 270px" nz-input placeholder="Registration Number" [(ngModel)]="registrationNumber">
          <button type="submit" style="display: none;"></button>
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon type="search"></i>
        </ng-template>
      </form>
    </div>
  </div>

  <div nz-row nzType="flex" style="padding: 24px 0">
    <div nz-col nzSpan="24" nzMd="11" style="margin-right: 24px">
      <nz-card nzTitle="Properties" [nzExtra]="editProperties">
        <form nz-form class="edit-properties-form">
          <div nz-row>
            <nz-form-item>
              <nz-form-label>Name</nz-form-label>
              <div class="form-display-data">{{person.firstName + ' ' + person.lastName}}</div>
            </nz-form-item>
          </div>
          <div nz-row>
            <nz-form-item>
              <nz-form-label>Registration Number</nz-form-label>
              <div class="form-display-data">{{person.registrationNumber || '-'}}</div>
            </nz-form-item>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>Gender</nz-form-label>
                <div class="form-display-data">{{person.gender | gender}}</div>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>Civil Status</nz-form-label>
                <div class="form-display-data">{{person.civilStatus | civilStatus}}</div>
              </nz-form-item>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>Date of Birth</nz-form-label>
                <div class="form-display-data">{{person.dateOfBirth ? ( person.dateOfBirth | date:'yyyy-MM-dd'  ) : '-'}}</div>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>Date of Death</nz-form-label>
                <div class="form-display-data">{{person.dateOfDeath ? ( person.dateOfDeath | date:'yyyy-MM-dd' ) : '-'}}</div>
              </nz-form-item>
            </div>
          </div>
        </form>
      </nz-card>
      <ng-template #editProperties>
        <button nz-button nzType="default" (click)="showEditModal('properties')"><i nz-icon type="edit"></i></button>
      </ng-template>
    </div>

    <div nz-col nzSpan="24" nzMd="12">
      <div style="margin-bottom: 24px">
        <nz-card nzTitle="Residential Address" [nzExtra]="editResidential">
          <div *ngIf="person.residentialAddress">
            <p *ngFor="let line of person.residentialAddress.lines">
              <span class="form-display-data">{{line}}</span>
            </p>
            <p><span class="form-display-data">{{person.residentialAddress.country | country}}</span></p>
          </div>
          <div *ngIf="!person.residentialAddress">
            Not provided
          </div>
        </nz-card>
        <ng-template #editResidential>
          <ng-container *ngIf="person.residentialAddress">
            <button nz-button nzType="default" style="margin-right: 12px" (click)="showEditModal('residentialAddress')"><i nz-icon type="edit"></i></button>
            <button nz-popconfirm nzTitle="Are you sure?" (nzOnConfirm)="deleteResidentialAddress()" nzPlacement="top" nz-button nzType="default"><i nz-icon type="delete"></i></button>
          </ng-container>
          <ng-container *ngIf="!person.residentialAddress">
            <button nz-button nzType="default" (click)="showEditModal('residentialAddress')"><i nz-icon type="plus"></i></button>
          </ng-container>
        </ng-template>
      </div>
      <div>
        <nz-card nzTitle="Correspondence Address" [nzExtra]="editCorrespondence">
          <div *ngIf="person.correspondenceAddress">
            <p *ngFor="let line of person.correspondenceAddress.lines">
              <span class="form-display-data">{{line}}</span>
            </p>
            <p><span class="form-display-data">{{person.correspondenceAddress.country | country}}</span></p>
          </div>
          <div *ngIf="!person.correspondenceAddress">
            Not provided
          </div>
        </nz-card>
        <ng-template #editCorrespondence>
          <ng-container *ngIf="person.correspondenceAddress">
            <button nz-button nzType="default" style="margin-right: 12px" (click)="showEditModal('correspondence')"><i nz-icon type="edit"></i></button>
            <button nz-popconfirm nzTitle="Are you sure?" (nzOnConfirm)="deleteCorrespondenceAddress()" nzPlacement="top" nz-button nzType="default"><i nz-icon type="delete"></i></button>
          </ng-container>
          <ng-container *ngIf="!person.correspondenceAddress">
            <button nz-button nzType="default" (click)="showEditModal('correspondence')"><i nz-icon type="plus"></i></button>
          </ng-container>
        </ng-template>
      </div>
    </div>

    <app-create-person-modal
      [visible]="addingPerson"
      [civilStatuses]="civilStatuses"
      [countries]="countries"
      (onCancel)="addingPerson = false"
      (onConfirm)="createPerson($event)">
    </app-create-person-modal>

    <app-properties-modal
      [properties]="person"
      [civilStatuses]="civilStatuses"
      [visible]="editingStatus.properties"
      (onCancel)="editingStatus.properties = false"
      (onConfirm)="updateProperties($event)">
    </app-properties-modal>

    <app-address-modal
      [address]="person.residentialAddress"
      [countries]="countries"
      [visible]="editingStatus.residentialAddress"
      (onCancel)="editingStatus.residentialAddress = false"
      (onConfirm)="updateResidentialAddress($event)">
    </app-address-modal>

    <app-address-modal
      [address]="person.correspondenceAddress"
      [countries]="countries"
      [visible]="editingStatus.correspondence"
      (onCancel)="editingStatus.correspondence = false"
      (onConfirm)="updateCorrespondenceAddress($event)">
    </app-address-modal>

  </div>
</div>
