<div style="padding: 24px">
  <form nz-form [formGroup]="form" (ngSubmit)="applyFilter()">

    <nz-form-item>
      <nz-form-label>Name</nz-form-label>
      <nz-form-control>
        <input formControlName="filterName" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Status</nz-form-label>
      <nz-form-control>
        <nz-checkbox-group formControlName="filterStatus" [ngModel]="statuses"></nz-checkbox-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Tax Module</nz-form-label>
      <nz-form-control>
        <input formControlName="filterTaxModule" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Tax Year</nz-form-label>
      <nz-form-control>
        <div nz-row nzType="flex" nzGutter="24">
          <div nz-col nzSpan="12">
            <nz-year-picker formControlName="filterTaxYearFrom" nzPlaceHolder="From"></nz-year-picker>
          </div>
          <div nz-col nzSpan="12">
            <nz-year-picker formControlName="filterTaxYearTo" nzPlaceHolder="To"></nz-year-picker>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Accounting Year</nz-form-label>
      <nz-form-control>
        <div nz-row nzType="flex" nzGutter="24">
          <div nz-col nzSpan="12">
            <nz-year-picker formControlName="filterAccountingYearFrom" nzPlaceHolder="From"></nz-year-picker>
          </div>
          <div nz-col nzSpan="12">
            <nz-year-picker formControlName="filterAccountingYearTo" nzPlaceHolder="To"></nz-year-picker>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>

    <div nz-row nzType="flex" nzJustify="end">
      <button nz-button nzType="default" style="margin-right: 12px" (click)="clearFilter()">Clear</button>
      <button nz-button nzType="primary" type="submit">Apply</button>
    </div>
  </form>
</div>
