<nz-button-group nzSize="small">
  <button nz-button (click)="firstPage.emit()" [disabled]="!previous"><i nz-icon type="vertical-right" theme="outline"></i></button>
  <button nz-button (click)="previousPage.emit()" [disabled]="!previous"><i nz-icon type="left" theme="outline"></i></button>
  <button nz-button (click)="nextPage.emit()" [disabled]="!next"><i nz-icon type="right" theme="outline"></i></button>
  <button nz-button (click)="lastPage.emit()" [disabled]="!next"><i nz-icon type="vertical-left" theme="outline"></i></button>
</nz-button-group>
