<nz-modal [(nzVisible)]="isVisible" nzTitle="Create Tax Claim" (nzOnCancel)="closeModal()" (nzOnOk)="nextStep()">
  <div style="padding: 24px">
    <nz-steps [nzCurrent]="step">
      <nz-step></nz-step>
      <nz-step></nz-step>
      <nz-step></nz-step>
    </nz-steps>
    <form *ngIf="form" nz-form [formGroup]="form" style="margin-top: 24px">
      <div *ngIf="step == 0" nz-row nzType="flex" nzGutter="24">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Select Tax Register</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="register">
                <nz-option *ngFor="let reg of taxRegisters" [nzValue]="reg.code" [nzLabel]="reg.name"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="register.dirty && register.errors">Please select the tax register!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div *ngIf="step == 2">
        <form *ngIf="dynamicForm" nz-form [formGroup]="dynamicForm">
          <nz-form-item *ngFor="let field of fields">
            <nz-form-label *ngIf="field.value.type != 'logical'" [nzRequired]="!field.optional">{{field.label}}</nz-form-label>
            <nz-form-control>
              <ng-container *ngIf="field.value.type == 'enumeration'">
                <nz-select [formControlName]="field.name">
                  <nz-option *ngFor="let choice of field.value.choices" [nzValue]="choice" [nzLabel]="choice"></nz-option>
                </nz-select>
              </ng-container>

              <ng-container *ngIf="field.value.type == 'number'">
                <nz-input-number [formControlName]="field.name" [nzPrecision]="field.value.decimals"></nz-input-number>
              </ng-container>

              <ng-container *ngIf="field.value.type == 'logical'">
                <label nz-checkbox [formControlName]="field.name">{{field.label}}</label>
              </ng-container>

              <ng-container *ngIf="field.value.type == 'date'">
                <nz-date-picker [formControlName]="field.name"></nz-date-picker>
              </ng-container>

              <ng-container *ngIf="field.value.type == 'text'">
                <input nz-input [formControlName]="field.name">
              </ng-container>

              <nz-form-explain *ngIf="dynamicForm.get(field.name).dirty && dynamicForm.get(field.name).errors">Please input the {{field.label}}!</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </form>
  </div>
</nz-modal>
