<nz-layout class="main">
  <nz-sider [nzWidth]="200">
    <ul nz-menu [nzMode]="'inline'" class="sider-bar">
      <div class="logo" i18n>Malibu</div>
      <li nz-submenu *ngFor="let sub of menu" [nzOpen]="sub.opened">
        <span title>{{sub.title}}</span>
        <ul>
          <li *ngFor="let item of sub.subs" nz-menu-item [routerLink]="[item.link]" [nzSelected]="item.selected">{{item.title}}</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
