<div>
  <div nz-row nzType="flex" nzJustify="space-between" class="page-header">
    <div nz-col>
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle" nzGutter='12'>
        <div nz-col class="page-header-title">
          <strong i18n>Tax Register </strong><span i18n>List</span>
        </div>
        <div nz-col class="operation-btns">
          <button nz-button (click)="showFilter = !showFilter"><i nz-icon type="filter"></i></button>
          <button nz-button (click)="addingTaxRegister = true"><i nz-icon type="plus"></i></button>
          <button nz-button nz-popconfirm nzTitle="Are you sure?" (nzOnConfirm)="removeSelected()" [disabled]="!checkStatus.indeterminate && !checkStatus.all"><i nz-icon type="delete"></i></button>
          <nz-dropdown [nzTrigger]="'click'">
            <button nz-button nz-dropdown><i nz-icon type="ellipsis"></i></button>
            <ul nz-menu>
              <li nz-menu-item>
                <a (click)="exportList()" i18n>Export List</a>
              </li>
            </ul>
          </nz-dropdown>
        </div>
        <div nz-col>
          <form (ngSubmit)="lookUp()">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input name="registrationNumber" style="min-width: 270px" nz-input placeholder="Code" [(ngModel)]="code" type="text">
              <button type="submit" style="display: none;"></button>
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon type="search"></i>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
    <div nz-col class="col-pagination">
      <nz-pagination [nzSize]="'small'" [nzPageIndex]="page" [nzTotal]="total" (nzPageIndexChange)="pageChanged($event)"></nz-pagination>
    </div>
  </div>
  <div nz-row nzType="flex">
    <div nz-col [nzSpan]="showFilter ? 6 : 0" class="tax-register-filter" [ngClass]="{'collapsed': showFilter}">
      <app-filter (filterChanged)="filterChanged($event)"></app-filter>
    </div>
    <div nz-col [nzSpan]="showFilter ? 18 : 24" style="padding: 0 24px">
      <nz-table #filterTable nzSize="middle" [nzData]="taxRegisters" [nzPageSize]="limit" nzShowPagination="false">
        <thead>
          <tr>
            <th
              nzShowCheckbox
              [(nzChecked)]="checkStatus.all"
              [nzIndeterminate]="checkStatus.indeterminate"
              (nzCheckedChange)="checkAll($event)">
            </th>
            <th nzShowSort [(nzSort)]="sortMap.code"   (nzSortChange)="sort('code', $event)" i18n>Code</th>
            <th nzShowSort [(nzSort)]="sortMap.name"   (nzSortChange)="sort('name', $event)" i18n>Name</th>
            <th nzShowSort [(nzSort)]="sortMap.status" (nzSortChange)="sort('status', $event)" i18n>Status</th>
            <th nzShowSort [(nzSort)]="sortMap.taxModule" (nzSortChange)="sort('taxModule', $event)" i18n>Tax Module</th>
            <th nzShowSort [(nzSort)]="sortMap.taxYear" (nzSortChange)="sort('taxYear', $event)" i18n>Tax Year</th>
            <th nzShowSort [(nzSort)]="sortMap.accountingYear" (nzSortChange)="sort('accountingYear', $event)" i18n>Accounting Year</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of filterTable.data">
            <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
            <td (click)="toDetailsPage(data)">{{data.code}}</td>
            <td (click)="toDetailsPage(data)">{{data.name}}</td>
            <td (click)="toDetailsPage(data)">
              <nz-tag [nzColor]="data.status | color">{{data.status | status}}</nz-tag>
            </td>
            <td (click)="toDetailsPage(data)">{{data.taxModule}}</td>
            <td (click)="toDetailsPage(data)">{{data.taxYear}}</td>
            <td (click)="toDetailsPage(data)">{{data.accountingYear}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>

  <app-create
    [visible]="addingTaxRegister"
    (onCancel)="addingTaxRegister = false"
    (onConfirm)="createTaxRegister($event)">
  </app-create>
</div>
