.operation-btns button{
  margin-left: 12px;
}

.natural-persons-header {
  padding: 24px;
  &-title {
    font-size: 24px;
  }
}

.natural-persons-filter {
  opacity: 0;
  overflow: hidden;
  transition: width .3s;
  border-right: 1px solid #ececec;
}

.collapsed {
  opacity: 1;
}
