@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// @primary-color          : #666666;
.ant-menu {
  color: white;
  border-right: unset;

  &-item {
    background: #111111;
    margin: 0 !important;
    border-right: unset !important;
    width: 100% !important;

    &-selected {
      background: #000000 !important;
      border-right: unset !important;

      &::after {
        display: none !important;
      }
    }
  }
}

nz-spin, .ant-spin-nested-loading, .ant-spin-container, .ant-spin {
  height: 100%;
  max-height: unset !important;
}

.ant-spin-blur {
  opacity: 0.2 !important;
}

.ant-modal-body {
  padding: 0px !important;
}

.ant-tabs-tabpane {
  padding: 24px;
}

.ant-calendar-picker, nz-picker {
  width: 100%;
  display: block;
}
